环境 py38data

In [1]:
import pandas as pd

In [2]:
## 读取 TAXLABELS 文件

# 读取空格分隔的txt文件，不创建索引，没有表头
df_taxlabels = pd.read_csv('TAXLABELS.txt', sep=' ', header=None, index_col=None)

# 提取第一列方括号中的文本，并新建一列为 taxa_id
df_taxlabels['taxa_id'] = df_taxlabels[0].str.extract(r'\[(.*?)\]', expand=False)

# 提取第二列单引号中的文本，并新建一列为 docu
df_taxlabels['docu'] = df_taxlabels[1].str.extract(r"'(.*?)'", expand=False)

# 打印数据
df_taxlabels

,0,1,taxa_id,docu
0,[1],'UIGHUR_XINJIANG_YILI_YINING',1,UIGHUR_XINJIANG_YILI_YINING
1,[2],'KAZAKH_XINJIANG_HABAHE',2,KAZAKH_XINJIANG_HABAHE
2,[3],'KAZAKH_XINJIANG_CHABUCHAER',3,KAZAKH_XINJIANG_CHABUCHAER
3,[4],'KIRGHIZ_XINJIANG_KEZILESU',4,KIRGHIZ_XINJIANG_KEZILESU
4,[5],'UZBEK_XINJIANG_ULUMUQI',5,UZBEK_XINJIANG_ULUMUQI
5,[6],'TATAR_XINJIANG_ULUMUQI',6,TATAR_XINJIANG_ULUMUQI
6,[7],'TUVA_XINJIANG_ALETAI_BUERJIN',7,TUVA_XINJIANG_ALETAI_BUERJIN
7,[8],'SALAER_QINGHAI_HAIDONG_XUNHUA',8,SALAER_QINGHAI_HAIDONG_XUNHUA
8,[9],'YUGU_GANSU_SUNAN_LIANHUA',9,YUGU_GANSU_SUNAN_LIANHUA
9,[10],'AYNU',10,AYNU
10,[11],'UYGHUR',11,UYGHUR
11,[12],'WEST_YUGUR',12,WEST_YUGUR

In [3]:
# 计算 taxa_id 列中出现的非重复值的数量
taxa_id_count = df_taxlabels['taxa_id'].nunique()
taxa_id_count

12

In [4]:
# 用逗号连接所有 taxa_id 的内容
all_taxa_ids = ','.join(df_taxlabels['taxa_id'].astype(str))

# 打印结果
all_taxa_ids

'1,2,3,4,5,6,7,8,9,10,11,12'

In [5]:
## 读取 MATRIX 文件

# 读取 tab 分隔的txt文件，不创建索引，并且没有表头
df_matrix = pd.read_csv('MATRIX.txt', sep='\t', header=None, index_col=None)

# 删除第一列中不包含“size=1”的行
df_matrix = df_matrix[df_matrix[0].str.contains("size=1")]

# 删除第二列
df_matrix = df_matrix.drop(columns=[1])

# 将第二列中的空格替换为英文逗号
df_matrix[2] = df_matrix[2].str.replace(' ', ',')

# 删除第二列中出现在首位的英文逗号
df_matrix[2] = df_matrix[2].str.lstrip(',')
## 现在第二列中每个数字都有一个逗号，逗号的数量和数字的数量相等

# 提取第一列中的数字
df_matrix['nsplits_id'] = df_matrix[0].str.extract(r'\[(\d+),')

# 计算第二列中逗号的数量，并存储在新的列中
df_matrix['taxacount'] = df_matrix[2].str.count(',')

# 重命名第二列为 'taxa_ids'
df_matrix = df_matrix.rename(columns={2: 'taxa_ids'})

# 重新设置索引
df_matrix = df_matrix.reset_index(drop=True)

# # 删除 taxacount 值小于 taxa_id_count-1 的行
# df_matrix = df_matrix[df_matrix['taxacount'] >= taxa_id_count - 1]

# 打印读取的数据
df_matrix

                0                   taxa_ids nsplits_id  taxacount
0    [1, size=1]                          1,          1          1
1    [6, size=1]   1,2,3,4,6,7,8,9,10,11,12,          6         11
2    [7, size=1]    1,2,3,4,5,6,7,8,9,10,12,          7         11
3   [11, size=1]    1,2,3,4,5,6,7,8,9,11,12,         11         11
4   [16, size=1]   1,2,3,4,5,6,8,9,10,11,12,         16         11
5   [19, size=1]   1,2,3,4,5,6,7,9,10,11,12,         19         11
6   [21, size=1]   1,2,3,4,5,6,7,8,10,11,12,         21         11
7   [24, size=1]    1,2,3,4,5,6,7,8,9,10,11,         24         11
8   [25, size=1]   1,3,4,5,6,7,8,9,10,11,12,         25         11
9   [29, size=1]   1,2,4,5,6,7,8,9,10,11,12,         29         11
10  [31, size=1]   1,2,3,5,6,7,8,9,10,11,12,         31         11
11  [32, size=1]   1,2,3,4,5,7,8,9,10,11,12,         32         11

In [6]:
# # 制作 nsplits_id 和 taxa_id 的映射
# def find_missing_taxa_ids(row):
#     missing_taxa_ids = []
#     row_taxa_ids = row.split(',')
#     for taxa_id in all_taxa_ids.split(','):
#         if taxa_id not in row_taxa_ids:
#             missing_taxa_ids.append(taxa_id)
#     return ','.join(missing_taxa_ids)

# # 应用函数到taxa_ids列
# df_matrix['missing_taxa_id'] = df_matrix['taxa_ids'].apply(lambda x: find_missing_taxa_ids(x))

def find_missing_taxa_ids(row, nsplits_id):
    if nsplits_id == "1":
        return '1'
    else:
        missing_taxa_ids = []
        row_taxa_ids = row.split(',')
        for taxa_id in all_taxa_ids.split(','):
            if taxa_id not in row_taxa_ids:
                missing_taxa_ids.append(taxa_id)
        return ','.join(missing_taxa_ids)

# 应用函数到taxa_ids列
df_matrix['missing_taxa_id'] = df_matrix.apply(lambda row: find_missing_taxa_ids(row['taxa_ids'], row['nsplits_id']), axis=1)


# 打印结果
df_matrix

,0,taxa_ids,nsplits_id,taxacount,missing_taxa_id
0,"[1, size=1]","1,",1,1,1
1,"[6, size=1]","1,2,3,4,6,7,8,9,10,11,12,",6,11,5
2,"[7, size=1]","1,2,3,4,5,6,7,8,9,10,12,",7,11,11
3,"[11, size=1]","1,2,3,4,5,6,7,8,9,11,12,",11,11,10
4,"[16, size=1]","1,2,3,4,5,6,8,9,10,11,12,",16,11,7
5,"[19, size=1]","1,2,3,4,5,6,7,9,10,11,12,",19,11,8
6,"[21, size=1]","1,2,3,4,5,6,7,8,10,11,12,",21,11,9
7,"[24, size=1]","1,2,3,4,5,6,7,8,9,10,11,",24,11,12
8,"[25, size=1]","1,3,4,5,6,7,8,9,10,11,12,",25,11,2
9,"[29, size=1]","1,2,4,5,6,7,8,9,10,11,12,",29,11,3
10,"[31, size=1]","1,2,3,5,6,7,8,9,10,11,12,",31,11,4
11,"[32, size=1]","1,2,3,4,5,7,8,9,10,11,12,",32,11,6

In [7]:
# 创建一个空的 Series，用于存储合并后的 docu 信息
missing_taxa_docu = pd.Series(index=df_matrix.index)

# 遍历 df_matrix 中的每一行
for index, row in df_matrix.iterrows():
    # 获取当前行的 missing_taxa_id
    missing_taxa_id = row['missing_taxa_id']
    
    # 如果 missing_taxa_id 为空，则跳过
    if pd.isnull(missing_taxa_id):
        continue
    
    # 将 missing_taxa_id 拆分为单个 taxa_id
    taxa_ids = [taxa_id.strip() for taxa_id in missing_taxa_id.split(',')]
    
    # 初始化 docu 列表
    docu_list = []
    
    # 遍历 taxa_ids，根据每个 taxa_id 在 df_taxlabels 中查找对应的 docu 信息
    for taxa_id in taxa_ids:
        # 查找 taxa_id 对应的 docu 信息
        docu = df_taxlabels.loc[df_taxlabels['taxa_id'] == taxa_id, 'docu'].values
        
        # 如果找到了 docu 信息，则添加到 docu_list 中
        if len(docu) > 0:
            docu_list.append(docu[0])
    
    # 将 docu_list 中的内容用逗号连接成一个字符串，并保存到 missing_taxa_docu 列中
    missing_taxa_docu[index] = ', '.join(docu_list)

# 将 missing_taxa_docu 列添加到 df_matrix 中
df_matrix['missing_taxa_docu'] = missing_taxa_docu

# 打印合并后的 df_matrix
df_matrix

,0,taxa_ids,nsplits_id,taxacount,missing_taxa_id,missing_taxa_docu
0,"[1, size=1]","1,",1,1,1,UIGHUR_XINJIANG_YILI_YINING
1,"[6, size=1]","1,2,3,4,6,7,8,9,10,11,12,",6,11,5,UZBEK_XINJIANG_ULUMUQI
2,"[7, size=1]","1,2,3,4,5,6,7,8,9,10,12,",7,11,11,UYGHUR
3,"[11, size=1]","1,2,3,4,5,6,7,8,9,11,12,",11,11,10,AYNU
4,"[16, size=1]","1,2,3,4,5,6,8,9,10,11,12,",16,11,7,TUVA_XINJIANG_ALETAI_BUERJIN
5,"[19, size=1]","1,2,3,4,5,6,7,9,10,11,12,",19,11,8,SALAER_QINGHAI_HAIDONG_XUNHUA
6,"[21, size=1]","1,2,3,4,5,6,7,8,10,11,12,",21,11,9,YUGU_GANSU_SUNAN_LIANHUA
7,"[24, size=1]","1,2,3,4,5,6,7,8,9,10,11,",24,11,12,WEST_YUGUR
8,"[25, size=1]","1,3,4,5,6,7,8,9,10,11,12,",25,11,2,KAZAKH_XINJIANG_HABAHE
9,"[29, size=1]","1,2,4,5,6,7,8,9,10,11,12,",29,11,3,KAZAKH_XINJIANG_CHABUCHAER
10,"[31, size=1]","1,2,3,5,6,7,8,9,10,11,12,",31,11,4,KIRGHIZ_XINJIANG_KEZILESU
11,"[32, size=1]","1,2,3,4,5,7,8,9,10,11,12,",32,11,6,TATAR_XINJIANG_ULUMUQI

In [8]:
# 读取tab分隔的docu_color.txt文件
df_docu_color = pd.read_csv('docu_color.txt', sep='\t', header=0)

# show
df_docu_color

                             docu  label_c  label_background_c  edge_c
0     UIGHUR_XINJIANG_YILI_YINING        1                   1       1
1          KAZAKH_XINJIANG_HABAHE        1                   1       1
2      KAZAKH_XINJIANG_CHABUCHAER        1                   1       1
3       KIRGHIZ_XINJIANG_KEZILESU        2                   2       2
4          UZBEK_XINJIANG_ULUMUQI        2                   2       2
5          TATAR_XINJIANG_ULUMUQI        2                   2       2
6    TUVA_XINJIANG_ALETAI_BUERJIN        2                   2       2
7   SALAER_QINGHAI_HAIDONG_XUNHUA        3                   3       3
8        YUGU_GANSU_SUNAN_LIANHUA        3                   3       3
9                            AYNU        3                   3       3
10                         UYGHUR        4                   4       4
11                     WEST_YUGUR        4                   4       4

In [9]:
## 创建颜色映射字典 ChatGPT生成的：

color_mapping = {
    0: {"rgba": "0x00000000", "description": "透明色"},
    1: {"hex": "#ffffff", "rgba": "0x00ffffff", "description": "白色"},
    13: {"hex": "#000000", "rgba": "0x000000ff", "description": "黑色"},
    3: {"hex": "#ff0000", "rgba": "0xff0000ff", "description": "红色"},
    4: {"hex": "#00ff00", "rgba": "0x00ff00ff", "description": "绿色"},
    2: {"hex": "#0000ff", "rgba": "0x0000ffff", "description": "蓝色"},
    6: {"hex": "#ffff00", "rgba": "0xffff00ff", "description": "黄色"},
    7: {"hex": "#00ffff", "rgba": "0x00ffffff", "description": "青色"},
    8: {"hex": "#ff00ff", "rgba": "0xff00ffff", "description": "品红"},
    9: {"hex": "#800000", "rgba": "0x800000ff", "description": "栗色"},
    10: {"hex": "#008000", "rgba": "0x008000ff", "description": "深绿色"},
    11: {"hex": "#000080", "rgba": "0x000080ff", "description": "深蓝色"},
    12: {"hex": "#808000", "rgba": "0x808000ff", "description": "橄榄色"},
    5: {"hex": "#800080", "rgba": "0x800080ff", "description": "紫色"},
    14: {"hex": "#008080", "rgba": "0x008080ff", "description": "墨绿色"},
    15: {"hex": "#c0c0c0", "rgba": "0xc0c0c0ff", "description": "银色"},
    16: {"hex": "#808080", "rgba": "0x808080ff", "description": "灰色"},
    17: {"hex": "#ff9999", "rgba": "0xff9999ff", "description": "淡红色"},
    18: {"hex": "#99ff99", "rgba": "0x99ff99ff", "description": "淡绿色"},
    19: {"hex": "#9999ff", "rgba": "0x9999ffff", "description": "淡蓝色"},
    20: {"hex": "#ffff99", "rgba": "0xffff99ff", "description": "浅黄色"},
}

In [10]:
# 读取label_c列，并在color_mapping中查找对应的颜色信息
df_docu_color['lab_c'] = df_docu_color['label_c'].apply(lambda x: color_mapping[int(x)]['rgba'] if int(x) in color_mapping else None)
df_docu_color['lab_bg'] = df_docu_color['label_background_c'].apply(lambda x: color_mapping[int(x)]['rgba'] if int(x) in color_mapping else None)
df_docu_color['edg_c'] = df_docu_color['edge_c'].apply(lambda x: color_mapping[int(x)]['rgba'] if int(x) in color_mapping else None)


df_docu_color

,docu,label_c,label_background_c,edge_c,lab_c,lab_bg,edg_c
0,UIGHUR_XINJIANG_YILI_YINING,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff
1,KAZAKH_XINJIANG_HABAHE,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff
2,KAZAKH_XINJIANG_CHABUCHAER,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff
3,KIRGHIZ_XINJIANG_KEZILESU,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff
4,UZBEK_XINJIANG_ULUMUQI,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff
5,TATAR_XINJIANG_ULUMUQI,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff
6,TUVA_XINJIANG_ALETAI_BUERJIN,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff
7,SALAER_QINGHAI_HAIDONG_XUNHUA,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff
8,YUGU_GANSU_SUNAN_LIANHUA,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff
9,AYNU,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff
10,UYGHUR,4,4,4,0x00ff00ff,0x00ff00ff,0x00ff00ff
11,WEST_YUGUR,4,4,4,0x00ff00ff,0x00ff00ff,0x00ff00ff

In [11]:
# 将 df_docu_color 合并到 df_matrix 中，使用 missing_taxa_docu 列作为合并的键
df_matrix = df_matrix.merge(df_docu_color, how='left', left_on='missing_taxa_docu', right_on='docu')

df_matrix

,0,taxa_ids,nsplits_id,taxacount,missing_taxa_id,missing_taxa_docu,docu,label_c,label_background_c,edge_c,lab_c,lab_bg,edg_c
0,"[1, size=1]","1,",1,1,1,UIGHUR_XINJIANG_YILI_YINING,UIGHUR_XINJIANG_YILI_YINING,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff
1,"[6, size=1]","1,2,3,4,6,7,8,9,10,11,12,",6,11,5,UZBEK_XINJIANG_ULUMUQI,UZBEK_XINJIANG_ULUMUQI,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff
2,"[7, size=1]","1,2,3,4,5,6,7,8,9,10,12,",7,11,11,UYGHUR,UYGHUR,4,4,4,0x00ff00ff,0x00ff00ff,0x00ff00ff
3,"[11, size=1]","1,2,3,4,5,6,7,8,9,11,12,",11,11,10,AYNU,AYNU,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff
4,"[16, size=1]","1,2,3,4,5,6,8,9,10,11,12,",16,11,7,TUVA_XINJIANG_ALETAI_BUERJIN,TUVA_XINJIANG_ALETAI_BUERJIN,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff
5,"[19, size=1]","1,2,3,4,5,6,7,9,10,11,12,",19,11,8,SALAER_QINGHAI_HAIDONG_XUNHUA,SALAER_QINGHAI_HAIDONG_XUNHUA,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff
6,"[21, size=1]","1,2,3,4,5,6,7,8,10,11,12,",21,11,9,YUGU_GANSU_SUNAN_LIANHUA,YUGU_GANSU_SUNAN_LIANHUA,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff
7,"[24, size=1]","1,2,3,4,5,6,7,8,9,10,11,",24,11,12,WEST_YUGUR,WEST_YUGUR,4,4,4,0x00ff00ff,0x00ff00ff,0x00ff00ff
8,"[25, size=1]","1,3,4,5,6,7,8,9,10,11,12,",25,11,2,KAZAKH_XINJIANG_HABAHE,KAZAKH_XINJIANG_HABAHE,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff
9,"[29, size=1]","1,2,4,5,6,7,8,9,10,11,12,",29,11,3,KAZAKH_XINJIANG_CHABUCHAER,KAZAKH_XINJIANG_CHABUCHAER,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff
10,"[31, size=1]","1,2,3,5,6,7,8,9,10,11,12,",31,11,4,KIRGHIZ_XINJIANG_KEZILESU,KIRGHIZ_XINJIANG_KEZILESU,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff
11,"[32, size=1]","1,2,3,4,5,7,8,9,10,11,12,",32,11,6,TATAR_XINJIANG_ULUMUQI,TATAR_XINJIANG_ULUMUQI,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff

In [21]:
# 生成新的 labcolor 列
df_matrix['labcolor'] = df_matrix.apply(lambda row: f"	[{row['missing_taxa_id']}] '<c {row['lab_c']}><bg {row['lab_bg']}>{row['missing_taxa_docu']}'" if pd.notnull(row['missing_taxa_id']) else '', axis=1)
df_matrix['edgcolor'] = df_matrix.apply(lambda row: f"'c:{row['nsplits_id']}:{row['lab_bg']}'" if pd.notnull(row['missing_taxa_id']) else '', axis=1)


df_matrix['missing_taxa_id'] = df_matrix['missing_taxa_id'].astype(int)
df_matrix = df_matrix.sort_values(by='missing_taxa_id', ascending=True)

df_matrix

,0,taxa_ids,nsplits_id,taxacount,missing_taxa_id,missing_taxa_docu,docu,label_c,label_background_c,edge_c,lab_c,lab_bg,edg_c,labcolor,edgcolor
0,"[1, size=1]","1,",1,1,1,UIGHUR_XINJIANG_YILI_YINING,UIGHUR_XINJIANG_YILI_YINING,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff,\t[1] '<c 0x00ffffff><bg 0x00ffffff>UIGHUR_XIN...,'c:1:0x00ffffff'
8,"[25, size=1]","1,3,4,5,6,7,8,9,10,11,12,",25,11,2,KAZAKH_XINJIANG_HABAHE,KAZAKH_XINJIANG_HABAHE,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff,\t[2] '<c 0x00ffffff><bg 0x00ffffff>KAZAKH_XIN...,'c:25:0x00ffffff'
9,"[29, size=1]","1,2,4,5,6,7,8,9,10,11,12,",29,11,3,KAZAKH_XINJIANG_CHABUCHAER,KAZAKH_XINJIANG_CHABUCHAER,1,1,1,0x00ffffff,0x00ffffff,0x00ffffff,\t[3] '<c 0x00ffffff><bg 0x00ffffff>KAZAKH_XIN...,'c:29:0x00ffffff'
10,"[31, size=1]","1,2,3,5,6,7,8,9,10,11,12,",31,11,4,KIRGHIZ_XINJIANG_KEZILESU,KIRGHIZ_XINJIANG_KEZILESU,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff,\t[4] '<c 0x0000ffff><bg 0x0000ffff>KIRGHIZ_XI...,'c:31:0x0000ffff'
1,"[6, size=1]","1,2,3,4,6,7,8,9,10,11,12,",6,11,5,UZBEK_XINJIANG_ULUMUQI,UZBEK_XINJIANG_ULUMUQI,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff,\t[5] '<c 0x0000ffff><bg 0x0000ffff>UZBEK_XINJ...,'c:6:0x0000ffff'
11,"[32, size=1]","1,2,3,4,5,7,8,9,10,11,12,",32,11,6,TATAR_XINJIANG_ULUMUQI,TATAR_XINJIANG_ULUMUQI,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff,\t[6] '<c 0x0000ffff><bg 0x0000ffff>TATAR_XINJ...,'c:32:0x0000ffff'
4,"[16, size=1]","1,2,3,4,5,6,8,9,10,11,12,",16,11,7,TUVA_XINJIANG_ALETAI_BUERJIN,TUVA_XINJIANG_ALETAI_BUERJIN,2,2,2,0x0000ffff,0x0000ffff,0x0000ffff,\t[7] '<c 0x0000ffff><bg 0x0000ffff>TUVA_XINJI...,'c:16:0x0000ffff'
5,"[19, size=1]","1,2,3,4,5,6,7,9,10,11,12,",19,11,8,SALAER_QINGHAI_HAIDONG_XUNHUA,SALAER_QINGHAI_HAIDONG_XUNHUA,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff,\t[8] '<c 0xff0000ff><bg 0xff0000ff>SALAER_QIN...,'c:19:0xff0000ff'
6,"[21, size=1]","1,2,3,4,5,6,7,8,10,11,12,",21,11,9,YUGU_GANSU_SUNAN_LIANHUA,YUGU_GANSU_SUNAN_LIANHUA,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff,\t[9] '<c 0xff0000ff><bg 0xff0000ff>YUGU_GANSU...,'c:21:0xff0000ff'
3,"[11, size=1]","1,2,3,4,5,6,7,8,9,11,12,",11,11,10,AYNU,AYNU,3,3,3,0xff0000ff,0xff0000ff,0xff0000ff,\t[10] '<c 0xff0000ff><bg 0xff0000ff>AYNU','c:11:0xff0000ff'
2,"[7, size=1]","1,2,3,4,5,6,7,8,9,10,12,",7,11,11,UYGHUR,UYGHUR,4,4,4,0x00ff00ff,0x00ff00ff,0x00ff00ff,\t[11] '<c 0x00ff00ff><bg 0x00ff00ff>UYGHUR','c:7:0x00ff00ff'
7,"[24, size=1]","1,2,3,4,5,6,7,8,9,10,11,",24,11,12,WEST_YUGUR,WEST_YUGUR,4,4,4,0x00ff00ff,0x00ff00ff,0x00ff00ff,\t[12] '<c 0x00ff00ff><bg 0x00ff00ff>WEST_YUGUR','c:24:0x00ff00ff'

In [22]:
# 连接edgcolor列的内容，用空格分隔
df_edgc = ' '.join(df_matrix['edgcolor'].astype(str))

# 保存为DataFrame
df_edgc = pd.DataFrame({'edgcolor': [df_edgc]})

df_edgc.to_csv('df_edgcolor.txt', index=False, header=False)

# 打印结果
print(df_edgc)

                                            edgcolor
0  'c:1:0x00ffffff' 'c:25:0x00ffffff' 'c:29:0x00f...

In [23]:
# 从df_matrix中提取labcolor列并保存到df_color中
df_color = df_matrix[['labcolor']]

# 保存df_color为tab分隔的txt文件
df_color.to_csv('df_color.txt', index=False, header=False)